html body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #f5f5f5;
}


#container {
    text-align: center;
    padding-bottom: 40px;
}

#header img {
    padding-top: 10px;
}

#header h1 {
    margin: 10px;
}

@media screen and (max-width: 500px) {
    #header {
        display: none;
    }

}

/* nav css */
#n-nav {
    background-color: #5f5f5f;
    height: 57px;
}

#n-nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#n-nav li {
    float: left;
}

#n-nav li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 20px;

}

#n-nav li a:hover {
    background-color: #333;

}
#m-nav{
    display: none;
}

@media screen and (max-width: 500px) {
    #m-nav{
        display: block;
    }
    #n-nav {
        display: none;
    }

    #m-nav {
        overflow: hidden;
        background-color:#5f5f5f;
        position: relative;
        text-align: left;
    }

    #m-nav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    #m-nav #dp-nav a{
        text-align: center;
    }

    #m-nav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 25px;
    }

}





/* footer css */
#footer {
    background-color: #5f5f5f;
    color: #f5f5f5;
    text-align: center;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* sticky footer */
    position: fixed;
    bottom: 0;
    width: 100%;

}


@media screen and (max-width: 500px) {
    #footer {
        display: none;
    }
}